[submodule "Mycoviruses-in-early-diverging-fungal-lineages"]
	path = Mycoviruses-in-early-diverging-fungal-lineages
	url = https://github.com/jimyers/Mycoviruses-in-early-diverging-fungal-lineages.git
